
h1{
    color: rgb(61, 1, 173);
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #dabbda;
    font-weight: 100;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
#image{
    border: solid;
    border-top: none;
    position: absolute;
    z-index: 25;
    width: 58.9%;
    top: 0%;
    left: 20.3%;
    background: #faf6fa;
}
#header{
    position: absolute;
    z-index: 30;
    width: 30%;
    top: 46%;
    left: 35%;
}
#underline{
    color: rgb(130, 130, 130);
    z-index: 10;
}
.text{
    padding-top: 0.5%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    background: #faf6fa;
    border: solid;
    border-top: none;
    border-bottom: none;
    position: absolute;
    z-index: 20;
    width: 54.9%;
    top: 45%;
    left: 20.3%;
    
}
.innerSquare{
    margin-left: 20%;
    margin-right: 20%;
    background-color:  #faf6fa;
}
img{
    width: 70%;
    height: 330px;
    padding-bottom: 2%;
}
#firstP{
    margin-top: 7%;
}
p{
    margin-top: 1%;
    margin-bottom: 0%;
    line-height: 150%;
}
body {
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: #dabbda;
    margin-top: 0%;
    margin-bottom: 0%;
}